# os
.DS_STORE

# node
node_modules

# test screenshots for web package
test_results/

# dist directory should be included only in the Package but not Repository
dist
out

# loggin
logs.json
log.json

# vscode
.vscode

# JetBrains IDEs
.idea

# linting results
eslint-results.sarif
