# node
node_modules

# ignore package-lock.json as not part of published module and might cause break
package-lock.json

# test screenshots for web package
test_results/

# dist directory should be included only in the Package but not Repository
dist
out

# loggin
logs.json
log.json