# os
.DS_STORE

# node
node_modules

# test screenshots for web package
test_results/
test-results/
playwright-report/

# dist directory should be included only in the Package but not Repository
dist
out

# loggin
logs.json
log.json

# vscode
.vscode/*
!.vscode/templates/

# JetBrains IDEs
.idea

# linting results
eslint-results.sarif

# junit test results
junit-tests.xml