.header {
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* margin: auto; */
	/* width: 50%; */

}

body {
	background-color: white;
}

.wrap {
	max-width: 90%;
	margin: 0 auto;
}

.main {
	width: 100%;
}

.panel {
	padding-left: 1em;
}

.panel button {
	float: middle;
	margin-top: 1em;
	margin-bottom: 1em;
}

.panel table {
	width: 100%;
}

textarea {
	font-family: 'Droid Sans Mono', "Courier New", monospace;
	font-size: 100%;
	width: 100%;
}

.button-success,
.button-error,
.button-warning {
	color: white;
	border-radius: 4px;
	font-size: 60%;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	padding-right: 10px;
	margin-top: 0px;
	margin-left: -10px;
	margin-right: -10px;
	margin-bottom: 0px;
}

.button-success {
	background: rgb(28, 184, 65);
	/* height: 50px; */
	/* this is a green */
}

.button-error {
	background: rgb(202, 60, 60);
	/* this is a maroon */
}

.button-warning {
	background: rgb(223, 117, 20);
	/* this is an orange */
}

.pure-button-group{
	padding:10px;
}
a.button-others {
	border: 10px solid #fff;
	border-radius: 20px;
	
	color: white;
	cursor: pointer;
	background: #30b8a3;
	padding: 6px 12px;
	/* padding:10px;
	padding-left:20px;
	padding-right:20px; */
	
	/* margin-left: 10px;
	margin-right: 50px; */
}
a.button-link {
	border-radius: 20px;
	margin-right: 30px;
	color: white;
	cursor: pointer;
	background: #30b8a3;
}

#console {
	font-family: 'Droid Sans Mono', "Courier New", monospace;
	background: #333;
	color: #FFF;
	margin-top: 1em;
	padding: 1em;
}

#spot-json,
#spot-simple-json-schema,
#spot-full-json-schema,
#spot-json-ld,
#spot-add {
	visibility: hidden;
}

.footer-shape img {
	height: 200px;
	vertical-align: middle;
	border-style: none;
}

footer ul {
	list-style: none;
	/* padding: 15px 0; */
	margin-top: -10px;
	text-align: center
}

footer li,
footer a {
	display: inline-block;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	padding: 50px 5px;
	text-decoration-line: none;
	background: #141414;
	/* margin-top: 10px */
}

footer p {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	/* padding-top: 12px; */
	background: black;
	margin-top: -1%;
	padding-bottom: 100px;
	text-align: center;
	background: #141414;
}

header img {
	display: block;
	margin: auto;
}

.links {
	background: #141414;
}

.container {
	padding: 20px 0;
}

i {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
  }
  
  .right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
  }
  
  .left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
  }
  
  .up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
  }
  
  .down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
  }

