.header {
	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	/* margin: auto; */
	/* width: 50%; */

}

.wrap {
	max-width: 90%;
	margin: 0 auto;
}

.main {
	width: 100%;
}

.panel {
    padding-left: 1em;
}

.panel button {
	float: right;
	margin-top: 1em;
	margin-bottom: 1em;
}

.panel table {
	width: 100%;
}

textarea {
	font-family: 'Droid Sans Mono', "Courier New", monospace;
	width: 100%;
}

.button-success,
.button-error,
.button-warning{
	color: white;
	border-radius: 4px;
	font-size: 125%;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);

}

.button-success {
	background: rgb(28, 184, 65);
	/* height: 50px; */
	/* this is a green */
}

.button-error {
	background: rgb(202, 60, 60);
	/* this is a maroon */
}

.button-warning {
	background: rgb(223, 117, 20);
	/* this is an orange */
}

#console {
	font-family: 'Droid Sans Mono', "Courier New", monospace;
	background: #333;
	color: #FFF;
	margin-top: 1em;
	padding: 1em;
}

#spot-json, #spot-json-schema, #spot-json-ld, #spot-owl {
	visibility: hidden;
}

.footer-shape img {
	height: 200px;
	vertical-align: middle;
	border-style: none;
}

footer ul {
	list-style: none;
	/* padding: 15px 0; */
	margin-top: -10px;
	text-align: center
}

footer li,
footer a {
	display: inline-block;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	padding: 10px 5px;
	text-decoration-line: none;
	background: black;
	/* margin-top: 10px */
}

footer p {
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	/* padding-top: 12px; */
	background: black;
	margin-top: -20px;
	padding-bottom: 100px;
	text-align: center
}

header img {
	display: block;
	margin: auto;
}

.links {
	background: black;
}

.container {
	padding: 20px 0;
}